.minus{
border-right: 3px solid red;
}
.plus{
    border-right: 3px solid rgb(0, 255, 0);
}
.container{
    width:60vw;
    margin:auto;
    border-radius: 4px;
    background-color: rgb(32, 32, 32);
    color: rgb(235, 235, 235);
    padding:18px;
}
li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 6px;
    border-radius: 4px;
    background-color: rgb(224, 224, 224);
    color:black;


}
.delete-btn{
    background-color: tomato;
    border:0px;
    border-radius: 10px;
    color: wheat;

}
.inc-exp-container>div{
    padding: 2px;
    text-align: center;
    background-color: rgb(224, 224, 224);
    margin:10px;
    width:120px;
    border-radius: 4px;
    color:black;



}
.inc-exp-container{
    display: flex;
    justify-content: center;
}
ul{
    padding-left: 0px;
    overflow-y: auto;
    height:16vh;
}
.form-control{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px
}
form{
    padding: 10px;
    background-color: rgb(224, 224, 224);
    border-radius: 4px;
    color:black;

}
.money-plus{
    color: rgb(40, 163, 2);
    font-size: 23px;
}
.money-minus{
    color: rgb(212, 33, 1);
    font-size: 23px;
}
input{
    padding: 4px;
    flex:1;
}
label{
    width:100px;
}
.btn{
    width:100%;
    background-color: rgb(22, 22, 22);
    color: thistle;
    padding:5px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #92734a;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #ffce94;
    border-radius: 4px;
}